@import 'base/variables';

@import 'base/normalize';
@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';

section {
  position: absolute;
  background: rgba(255,255,255, 0.8);
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  h4 {
    margin-top: 0;
    margin-bottom: 0.5px;
  }
  ul {
    padding: 0 0 0 10px;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
}

ul {
  .blue {
    color: hsb(240,100,100);
  }
  .light-blue {
    color: hsb(180,100,100);
  }
  .pink {
    color: hsb(0,40,97);
  }
  .orange {
    color: hsb(30,100,100);
  }
  .red {
    color: hsb(0,100,100);
  }
}
